div{
  font-family: 'Inter', sans-serif;

}
body{
    background-image: none;
    padding-top: 0px;
}

.CompPic{
    margin: 0px 39px 30px 39px;
    background-color:rgba(243, 246, 235, 1);
    border-radius: 8px;
    height: 334px;
}
.minus{
    background-color: #44692B;
    padding-top: 0px;
    height: 32px;
    width:32px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
    text-align: center;
    color:#FFFFFF;
    font-size:22px;
}
.plus{
    background-color: #44692B;
    padding-top: 0px;
    height: 32px;
    width:32px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    margin-left: 5px;
    color:#FFFFFF;
    font-size:22px;

}
.counterCount{
    margin: 0 auto;
    padding-top: 0px;
    border-radius: 5px;
    width: 32px;
    height: 30px;
    border: 1px solid #efefef;
    text-align: center;
}
.counter{
    display: flex;

    margin-right: 15px;
}
.compSmall{
    margin:auto;
    margin-bottom: 14px;
    display: flex;
    width: 334px;
    border-radius: 8px;
    height: 77px;
    border: 1px solid #efefef;
    align-items: center;
    text-align: center;
    box-shadow: 0px 3px 5px 2px #efefef;
    font-size: 12px;
    background-color: #FFFFFF;
    justify-content: space-between;
}.compMedium{
    font-size: 12px;
    margin:auto;
    margin-bottom: 14px;
    margin-top: 7px;
    display: flex;
    width: 334px;
    height: 77px;
    border-radius: 8px;
    border: 1px solid #efefef;
    box-shadow: 0px 3px 5px 2px #efefef;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
}.compLarge{
    font-size: 12px;
    margin:auto;
    margin-top: 7px;
    margin-bottom: 7px;
    display: flex;
    width: 334px;
    height: 77px;
    border-radius: 8px;
    border: 1px solid #efefef;
    box-shadow: 0px 3px 5px 2px #efefef;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-between;
}
.CompAmount{
    margin: auto;
}
.compText{
    margin-left: 15px;
}
.finishButt{
    border-radius: 20px;
    background-color: #44692B;
    margin: 37px 39px 10px 39px;
    padding: 10px 0px 10px 0px;
    color: #FFFFFF;
}
.rewardPageBG{
    height: 100%;
    margin-top: 0px;
  background-image: url("../img/Backgroundbackground.png");

}
.rewardPage{
    margin: 0 auto;
    margin-top: 20px;
    height: 739px;
    width: 372px;
    border-radius: 20px;
    background-color: #FFFFFF;
}
.badgeCount{
    margin: 0 auto;
    height: 203px;
    width: 334px;
    border-radius: 8px;
    border: 1px solid #efefef;
    box-shadow: 0px 3px 5px 2px #efefef;
    align-items: center;
    text-align: center;
}
.bbb{
    display: flex;
    margin: 20px 10px 20px 10px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    
}
.badge{
    display: inline-block;

    background-image: url("../img/badge.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 65px;
    width: 65px;


}
.bCount{
    font-weight: bolder;
    
}
.socialNet{
    margin: 100px 0px 20px 0px;
}
.socialIcons{
    margin-right: 35%;
    margin-left: 35%;
    display: flex;
}
.fb{
    margin:0 auto;
    background-image: url("../img/cib_facebook.png");
    height: 34px;
    width: 34px;

}
.ig{
    margin:0 auto;
    background-image: url("../img/cib_instagram.png");
    height: 34px;
    width: 34px;

}
.tw{
    background-image: url("../img/cib_twitter.png");
    height: 34px;
    width: 34px;
}
.congrats{
    border: solid rgba(0,0,0,0) 1px;
    height: 275px;
}
.gratsBadge{
    background-image: url("../img/worm.png");
    margin: 0 auto;
    margin-top: 35px;
    height: 181px;
    width: 170px;
}

.pointsline{
    float: right;
    margin-right: 35px;
    font-weight: bolder;
}
.camera{
    margin:0 auto;
    margin-top: 40px;
    padding-bottom: 30px;
    height: 98px;
    width: 98px;
    border: #44692B 1px solid;
    border-radius: 100px;
    background-image: url("../img/camera.png");
    background-repeat: no-repeat;
    background-position: center;

}